<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.agelousis.cluedonotepad">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/cluedo_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/cluedo_round_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".splash.SplashActivity"
            android:windowSoftInputMode="adjustPan"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".main.NotePadActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <service android:name=".firebase.FirebaseMessaging" android:enabled="true" android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <receiver android:name=".receivers.NotificationDataReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="SHOW_NOTIFICATION" />
            </intent-filter>
        </receiver>
    </application>

</manifest>